In [6]:
from minio import Minio

In [13]:
client = Minio(
    endpoint="minio:9000",
    access_key='minio',
    secret_key='minio123',
    secure=False,
)

In [14]:
client.list_buckets()

[Bucket('warehouse')]

In [20]:
import os
from datetime import datetime
from pyspark import SparkContext, HiveContext
from pyspark.sql import SparkSession, SQLContext
import pyspark.sql.functions as sf

In [21]:
spark = (SparkSession.builder.appName("covid19-benchmark-{}".format(datetime.today()))
                .master("spark://172.25.0.3:7077")
                .getOrCreate())

In [22]:
import pandas as pd

In [23]:
data = pd.DataFrame({'State': ['Alaska', 'California',
                               'Florida', 'Washington'],
                      
                     'city': ["Anchorage", "Los Angeles",
                              "Miami", "Bellevue"]})

In [24]:
data

        State         city
0      Alaska    Anchorage
1  California  Los Angeles
2     Florida        Miami
3  Washington     Bellevue

In [25]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
 
# Creating the DataFrame
sprak_arrow = spark.createDataFrame(data)

/usr/local/spark/python/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  [(c, t) for (_, c), t in zip(pdf_slice.iteritems(), arrow_types)]

In [26]:
type(sprak_arrow.toPandas())

pandas.core.frame.DataFrame

In [27]:
sprak_arrow.createOrReplaceTempView("sprak_arrow")

In [28]:
spark.sql("SHOW TABLES").toPandas()

  namespace    tableName  isTemporary
0            sprak_arrow        False

In [29]:
sql_stm1 = """
-- 1
SELECT 
    city
FROM
    sprak_arrow
"""
sparkDF = spark.sql(sql_stm1)

In [30]:
sparkDF.show()

+-----------+
|       city|
+-----------+
|  Anchorage|
|Los Angeles|
|      Miami|
|   Bellevue|
+-----------+